body {
  font-family: Arial, serif;
  color:#6C5562;
  font-size:14px;
  line-height:20px;
}

div#header,
div#navigation, 
div#content,  
div#footer {
  clear:both;
  margin:0 auto;
  text-align:left;
  width:960px;
}

div#navigation {
  border-bottom: 1px solid silver;
  padding: 0px;
}

div#navigation ul {
  padding: 10px 10px 10px 0px;
  margin: 10px 0 10px 0;
}

div#navigation ul li {
  float: left;
  padding: 0px 10px 3px 0px;
  list-style-type: none;
}

div#header, 
div#footer {
  color: silver;
}

div#footer {
  font-size: smaller;
  border-top: 1px solid;
  padding-top: 10px;
  margin-top: 10px;
}
.clear {
  clear: both;
}
h1 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

h4 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
}
code {  
  color:#77896f;
  background: #E7E9D7;
}

pre {
  padding: 5px;
  background: #E7E9D7;
  border: 1px solid #77896f;
  color:#77896f;
}

pre code {
  padding: 0px;
  border: none;
}

blockquote {
  padding : 5px;
  border : 1px solid #000;
}

div#menu {
  float: right;
  width: 250px;
}

div#menu h2, 
div#menu h3,
div#menu ul {
  margin-left: 10px;
}

div#resources {
  float: left;
  width: 670px;
}
h1, h2, h3, h4 {
  color: #364F56;
}
a, a:link {
  color:#00ac3a;
  text-decoration:none;
}
a:visited {
  color:#00ac3a;	
}
a:active, a:hover {
  text-decoration:underline;
}
img {
  border: 0 none;
}
