<html>
    <head>
        <title>Diffa</title>
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/shCore.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/shThemeDefault.css" type="text/css" />
        <script src="/scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
        <a href="/">
                <img src="/images/diffa_logo.png" width="200"/>
         </a> 
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/doc/demo_participants.html">Demo</a></li>
                <li><a href="/doc/packages.html">Download</a></li>
								<li><a href="/doc/running.html">Using</a></li>	
                <li><a href="/doc/doc.html">Documentation</a></li>
                <li><a href="/doc/dev.html">Development</a></li>
            </ul>
  	    <div class="clear"></div> 
        </div>
        
        <div id="content">{{ content }}</div>

        <div id="footer">
          &copy; LShift Ltd. 2010 <a href="/doc/license.html">Licence</a>
        </div>
        <script src="/scripts/shCore.js" type="text/javascript"></script>
        <script src="/scripts/shBrushJScript.js" type="text/javascript"></script>
        <script type="text/javascript">
          SyntaxHighlighter.defaults['toolbar'] = false;
          SyntaxHighlighter.all();
        </script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24827977-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
