<html>
    <head>
        <title>Diffa</title>
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/shCore.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/shThemeDefault.css" type="text/css" />
    </head>
    <body>
        <div id="header">
        <a href="/">
                <img src="/images/diffa_logo.png" width="200"/>
         </a> 
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/doc/demo_participants.html">Demo</a></li>
                <li><a href="/doc/download.html">Download</a></li>
                <li><a href="/doc/doc.html">Documentation</a></li>
                <li><a href="/doc/dev.html">Development</a></li>
            </ul>
  	    <div class="clear"></div> 
        </div>
        
        <div id="content">{{ content }}</div>

        <div id="footer">
          &copy; LShift Ltd. 2010 <a href="/doc/license.html">Licence</a>
        </div>
        <script src="/scripts/shCore.js" type="text/javascript"></script>
        <script src="/scripts/shBrushJScript.js" type="text/javascript"></script>
        <script type="text/javascript">
          SyntaxHighlighter.defaults['toolbar'] = false;
          SyntaxHighlighter.all();
        </script>
    </body>
</html>
